{% extends "navbar.html" %}
{% block body %}
<div class="row">
    <div class="col-10 offset-1">
        </br>
        <div class="alert alert-info mb-3">
            Aqui estão os resultados para a busca "{{ query }}".
            <a href="{% url 'dashboard' %}" class="btn btn-secondary btn-sm ms-2">Limpar busca</a>
        </div>
        {% if fornecedores %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">CNPJ</th>
                        <th scope="col">Endereço</th>
                        <th scope="col">Contato</th>
                        <th scope="col">Email</th>
                        <th scope="col">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fornecedor in fornecedores %}
                    <tr>
                        <th scope="row">{{fornecedor.nome}}</th>
                        <td>{{fornecedor.cnpj}}</td>
                        <td>{{fornecedor.endereco}}</td>
                        <td>{{fornecedor.contato}}</td>
                        <td>{{fornecedor.email}}</td>
                        <td>
                            <div class="row">
                                <div class="col">
                                    <a class="nav-link" href="{% url 'view_fornecedor' fornecedor.id %}"><i
                                            class="fa-solid fa-eye"></i></a>
                                </div>
                                <div class="col">
                                    <a class="nav-link" href="{% url 'edit_fornecedor' fornecedor.id %}"><i
                                            class="fa-solid fa-pen-to-square"></i></a>
                                </div>
                                <div class="col">
                                    <a class="nav-link" href="{% url 'delete_fornecedor' fornecedor.id %}"
                                        onclick="return confirm('Tem certeza que deseja deletar este fornecedor?')"><i
                                            class="fa-solid fa-trash"></i></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% if items %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Fornecedor</th>
                        <th scope="col">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <th scope="row">{{item.nome}}</th>
                        <td>{{item.quantidade}}</td>
                        <td>{{item.preco}}</td>
                        <td>{{item.fornecedor}}</td>
                        <td>
                            <div class="row">
                                <div class="col">
                                    <a class="nav-link" href="{% url 'view_item' item.id %}"><i
                                            class="fa-solid fa-eye"></i></a>
                                </div>
                                <div class="col">
                                    <a class="nav-link" href="{% url 'edit_item' item.id %}"><i
                                            class="fa-solid fa-pen-to-square"></i></a>
                                </div>
                                <div class="col">
                                    <a class="nav-link" href="{% url 'delete_item' item.id %}"
                                        onclick="return confirm('Tem certeza que deseja deletar este item?')"><i
                                            class="fa-solid fa-trash"></i></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% if requisicoes %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Número</th>
                        <th scope="col">Requerente</th>
                        <th scope="col">Data</th>
                        <th scope="col">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% for requisicao in requisicoes %}
                    <tr>
                        <th scope="row">{{requisicao.numero}}</th>
                        <td>{{requisicao.requerente}}</td>
                        <td>{{requisicao.data}}</td>
                        <td>
                            <div class="row">
                                <div class="col">
                                    <a class="nav-link" href="{% url 'view_item' item.id %}"><i
                                            class="fa-solid fa-eye"></i></a>
                                </div>
                                <div class="col">
                                    <a class="nav-link" href="{% url 'edit_item' item.id %}"><i
                                            class="fa-solid fa-pen-to-square"></i></a>
                                </div>
                                <div class="col">
                                    <a class="nav-link" href="{% url 'delete_item' item.id %}"
                                        onclick="return confirm('Tem certeza que deseja deletar este item?')"><i
                                            class="fa-solid fa-trash"></i></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}